.btn span:first-child{
  transform: translateX(-101%);
  transition: transform .3s ease-in
}
.btn:hover span{
  transform: translateX(0)
}

.category {
  @apply
  inline-flex
  font-medium
  gap-4
  items-start
  md:items-center
  text-primary
  lg:text-xl
  uppercase
  italic
  tracking-wide
  [&_i]:text-[53px]
  [&_i]:leading-[25px]
  ;
}

.category.ss-blue {
  @apply
  text-ss-blue;
}

.category.white {
  @apply
  text-white
  not-italic
  max-md:[&_i]:text-[28px]
  ;
}

.animation{
  animation: rotate-animation 5s infinite linear;
}

@keyframes rotate-animation {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.luxury-tab .active:after {
  @apply
  opacity-100
  ;
} 

.luxury-tab .active:before {
  @apply
  opacity-100;
}

.fancybox-content {
  @apply 
  max-w-[800px];
}