.swiper.banner-slider .swiper-pagination {
  @apply
  items-center
  flex
  justify-center
  ;
}

.swiper.banner-slider .swiper-pagination-bullet {
  @apply
  size-[10px]
  transition-all
  bg-ss-blue/80
  ;
}

.swiper.banner-slider .swiper-pagination-bullet.swiper-pagination-bullet-active {
  @apply
  size-[14px]
  bg-ss-blue
  ;
}

.testimonial-slider {
  @apply flex flex-col justify-between max-lg:items-center px-4 pt-8 gap-y-9 lg:gap-y-5;
}

.testimonial-slider .navigation-buttons {
  @apply flex min-h-[52px] space-x-10;
}

.testimonial-slider .swiper-button-prev, .testimonial-slider .swiper-button-next{
  @apply relative border border-solid bg-white border-black rounded-full size-12 text-black after:text-xl p-3 after:font-icomoon after:content-['\e909'] hover:bg-primary;
}

.testimonial-slider .swiper-button-next{
  @apply after:content-['\e908'];
}

.services-swiper .swiper-button-prev,
.services-swiper .swiper-button-next {
  @apply border border-solid border-ss-blue rounded-full size-10 text-ss-blue after:text-xl p-3 after:font-icomoon after:content-['\e909'] static m-0;
}

.services-swiper .swiper-button-next {
  @apply after:content-['\e908'];
}

.services-swiper.navigation-buttons {
  @apply space-x-4;
}

.services-swiper .swiper-slide{
  @apply
  duration-500
  ease-in-out;
}
.swiper-slide.swiper-slide-active .bg-gray-100.card {
  @apply
  bg-white;
}

.services-swiper .swiper-button-next, .swiper-button-prev{
  @apply
  hover:bg-primary
  focus:bg-primary
  hover:border-transparent
  focus:border-transparent
  duration-300;
}

.swiper.banner-slider .navigation-buttons {
  @apply absolute left-1/2 -translate-x-1/2 sm:translate-x-0 sm:left-auto sm:right-10 bottom-12 sm:bottom-16 z-[11];
}

.swiper.banner-slider .navigation-buttons,
.testimonial-slider .navigation-buttons{
  @apply flex min-h-[52px] space-x-10;
}

.swiper.banner-slider .swiper-slide-active {
  @apply shadow-[0_4px_30px_0px] shadow-ss-grey-900/10;
}

.swiper.banner-slider .swiper-button-prev,
.swiper.banner-slider .swiper-button-next,
.testimonial-slider .swiper-button-prev, 
.testimonial-slider .swiper-button-next{
  @apply relative bg-white rounded-full size-12 text-black after:text-xl p-3 after:font-icomoon after:content-['\e909'] hover:bg-primary;
}

.swiper.banner-slider .swiper-button-next,
.testimonial-slider .swiper-button-next{
  @apply after:content-['\e908'];
}

.services-swiper .swiper-slide{
  @apply
  duration-500
  ease-in-out;
}

.services-swiper.navigation-buttons{
  @apply space-x-4;
}

.swiper-slide.swiper-slide-active .card {
  @apply shadow-lg;
}

.services-swiper .swiper-button-next, .swiper-button-prev {
  @apply
  hover:bg-primary
  focus:bg-primary
  hover:border-transparent
  focus:border-transparent
  duration-300;
}